[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
tqdm = "*"
peewee = "*"
ciso8601 = "*"
strtotime = "*"

[dev-packages]

[requires]
python_version = "3.7"
