[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
tqdm = "*"
peewee = "*"
ciso8601 = "*"
strtotime = "*"
jieba = "*"
fasttext = "*"
numpy = "*"
matplotlib = "*"
fnv = "*"
hickle = "*"
scikit-learn = "*"

[dev-packages]
autopep8 = "*"

[requires]
python_version = "3.7"
